body {
  background: #EAE876;
  /* #EAE876 */
}
.game{
  margin: 0 auto;
  font-size: 30px;
}


.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  line-height: 34px;
  height: 15vh;
  width: 15vw; 
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  
}

.square:hover{
  background-color: #f7f6de;
  transform: scale(1.05);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
